{{!< layout}}
<div>
    <header class="text-center">
        <h3>{{type.auth_grant_type}}</h3>
    </header>

    <div class="main-content">
        <div class="row">
            <div class="col-md-1">
                &nbsp;
            </div>

            <div class="col-md-10">
                <div class="py-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Authorization</h5>

                            <p>
                                <b>Authorization</b> is a mechanism of authorizing an entity to access over which an end-user is capable of doing in an application.
                                Not to be confused with <i>Authentication</i>, which is a process of validating the identity of an end-user
                            </p>


                            <p>
                            <h6 class="card-title">OAuth 2.0</h6>
                            <p>
                            <p>OAuth 2.0 is the model Bitbucket uses to authorize apps/entities integrating with Bitbucket.</p>

                            <div class="alert alert-info" role="alert">
                                There are a total of 5 types of authorization Bitbucket has adapted, 4 of them are standard OAuth grant types and 1 custom one:
                                <ol>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-auth-code-grant-sample-app">Authorization Code Grant</a></li>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-implicit-grant-sample-app">Implicit Grant</a></li>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-resource-owner-grant-sample-app">Resource Owner Password Credentials Grant - Current</a></li>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-client-creds-grant-sample-app">Client Credentials Grant</a></li>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-jwt-grant-sample-app">Bitbucket JWT Grant</a></li>
                                </ol>
                            </div>
                            </p>

                            <p>
                            <h6>Participants of the OAuth flow</h6>

                            <p><b>Resource Owner/End-user</b> - An entity capable of granting access to a protected resource. When the resource owner is a person, it is referred to as an end- user.</p>

                            <p>
                                <b>Client/Consumers</b> - An application making protected resource requests on behalf of the resource owner (with its authorization) or consumers of the service.
                                In OAuth 2.0, you generate these thru the Resource Server in a form of key:secret (username:password) combination which you can use to invoke APIs/services.
                            </p>

                            <p><b>Resource Server</b> - The server hosting the protected resources, capable of accepting and responding to protected resource requests using access tokens.</p>

                            <p><b>Authorization Server</b> - The server issuing access tokens to the client after successfully authenticating the resource owner and obtaining authorization.</p>
                            </p>

                            <p>
                            <h6>Important terms to remember</h6>
                            <p><b>access_token</b> -  Defines the permission of the selected user, ergo represents the authorization of a specific application to access specific parts of a user's data. Tokens that represents the authorization of an entity to access specific parts of a user's data in an application. It is the token generated or returned by https://bitbucket.org/site/oauth2/access_token</p>
                            </p>
                            </p>
                            <a href="https://tools.ietf.org/html/draft-ietf-oauth-v2-31#section-1.1">OAuth v2 s1.1</a>
                        </div>
                    </div>
                </div>

                <div class="py-2">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">What is {{type.auth_grant_type}}?</h5>
                            <p class="card-text">
                                {{{type.definition}}}
                            </p>
                            <div class="alert alert-info" role="alert">
                                <h6>Difference with other authorization grants?</h6>
                                <ul>
                                    {{#each this}}
                                    {{#diff_with_other_grants}}
                                    <li>{{this}}</li>
                                    {{/diff_with_other_grants}}
                                    {{/each}}
                                </ul>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#flow-modal">
                                See flow
                            </button>
                            <a href="{{type.document_link}}" class="card-link" target="_blank">Go to Atlassian Docs</a>
                        </div>
                    </div>
                </div>

                <div class="py-2">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Demo Time!</h5>
                            <p class="card-text">
                                <p>
                                    <h6>These are the client_id and sharedSecret from /installed lifecycle that the app used to generate the JWT token to be used as an Authorization Beater to get an access_token:</h6>

                                    <div class="alert alert-secondary" role="alert">
<pre>
{ productType: 'bitbucket',
  principal:
   { username: 'bitbucket-cloud-dev',
     website: null,
     display_name: 'Bitbucket Cloud Developer',
     account_id: '5bab6f75478b1e5cf261ade9',
     links: { self: [Object], html: [Object], avatar: [Object] },
     type: 'user',
     created_on: '2018-09-26T11:43:38.004692+00:00',
     is_staff: false,
     location: null,
     account_status: 'active',
     nickname: 'bitbucket-cloud-dev',
     uuid: '{08a70ccc-d3ba-4ba8-b04e-0510f53df431}' },
  eventType: 'installed',
  baseUrl: 'https://api.bitbucket.org',
  publicKey: 'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCBFq+6Iq5J9AZzTZQfZEba9udHTIJToJnoDvWVHk8jKZIrMrVT1oJoAec84+nBhiO/8neqvbTlD7MeIb5aTDZo8YVhBKmQuEJ5RY56EakoR4x5oILsz/Ki5O4nGWSeTCCG1hj4heVsUi77umkYG5sZyHKNO+P+SwctTH1GEBDwswIDAQAB',
  user:
   { username: 'bitbucket-cloud-dev',
     website: null,
     display_name: 'Bitbucket Cloud Developer',
     account_id: '5bab6f75478b1e5cf261ade9',
     links: { self: [Object], html: [Object], avatar: [Object] },
     type: 'user',
     created_on: '2018-09-26T11:43:38.004692+00:00',
     is_staff: false,
     location: null,
     account_status: 'active',
     nickname: 'bitbucket-cloud-dev',
     uuid: '{08a70ccc-d3ba-4ba8-b04e-0510f53df431}' },
  key: 'jwt-auth-bitbucket-app',
  baseApiUrl: 'https://api.bitbucket.org',
  clientKey: 'ari:cloud:bitbucket::app/{08a70ccc-d3ba-4ba8-b04e-0510f53df431}/jwt-auth-bitbucket-app',
  sharedSecret: '' }
</pre>

                                    </div>
                                </p>

                                <p>
                                    <form>
                                        <div class="form-group row">
                                            <label class="col-md-5 col-form-label">Consumer key/connectionId/clientKey</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" readonly value="{{client.key}}" id="client_id" name="client_key_input"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-5 col-form-label">Consumer Secret/sharedSecret</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" readonly value="{{client.secret}}" name="client_secret_input"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-5 col-form-label">JWT Bearer</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" readonly value="{{client.jwt_bearer}}" name="client_secret_input"/>
                                            </div>
                                        </div>
                                    </form>
                                </p>

                                <hr/>
                                <div class="py-2">
                                    <div class="card ">
                                        <div class="card-body">
                                            <h5 class="card-title">So what happened here?</h5>
                                            <p class="card-text">
                                                <p>
                                                    Since your app is already granted the permission to access user's data, the generated jwt
                                                    (from your app's appKey, connectionId, and sharedSecret) are validated by the Authorization Server,
                                                    and if valid, an access_token is returned by the Authorization Server
                                                    to the callback function:


                                                    <div class="alert alert-secondary">
                                                        <h6>Request</h6>
<pre>
{{access_token.request}}
</pre>
<h6>Response</h6>
<pre>
{{access_token.response}}
</pre>
                                                    </div>
                                                    which it then uses as an Authorization Bearer to GET repositories available to you.
                                                </p>
                                            </p>

                                            <div >
                                                <h6>The power of the <b>access_token</b></h6>
                                                <p>
                                                    Using this access_token your app now have the power to do several things with the end-user data, given that it is within permission defined in the consumer settings.
                                                    You may do so by calling any of <a href=https://developer.atlassian.com/cloud/bitbucket/about-bitbucket-cloud-rest-api/">Bitbucket's REST APIs v2</a>
                                                </p>

                                                <p>
                                                    Bitbucket's access tokens <a href="https://developer.atlassian.com/cloud/bitbucket/oauth-2/#refresh-tokens">expires</a> after an hour and when this happens,a 401 is returned.
                                                </p>

                                                <p>
                                                    Most access token grant responses (<b><i>Implicit and JWT excluded</i></b>) therefore include a <i>refresh token</i> that can then be used to generate a new access token, without the need for end user participation.
                                                    To generate a new access_token using the refresh_token:
                                                <div class="alert alert-secondary" role="alert">
                                                    <h6>Request</h6>
                                                    <pre>
{
    "method": "POST",
    "url": "https://bitbucket.org/site/oauth2/access_token",
    "headers": {
        "Cache-Control": "no-cache",
        "Authorization": "Basic {base64(consumer_client_id, consumer_secret)}"
    },
    "form": {
        "grant_type": "refresh_token",
        "code": "{refresh_token}"
    }
}
</pre>

                                                </div>
                                                Which you use for the next API call
                                                </p>

                                                <p>
                                                <h6>How to use this authorization in making a request:</h6>
                                                <ul>
                                                    <li>Send it in a request header: Authorization: Bearer {access_token}</li>
                                                    <li>Include it in a (application/x-www-form-urlencoded) POST body as access_token={access_token}</li>
                                                    <li>Put in the query string of a non-POST: ?access_token={access_token}</li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="py-2">
                                    <div class="card ">
                                        <div class="card-body">
                                            <h5 class="card-title">Request</h5>
                                            <p class="card-text">
                                            <div class="alert alert-secondary" role="alert">
<pre>
{{repository.request}}
</pre>
                                            </div>
                                            </p>

                                        </div>
                                    </div>
                                </div>

                                <div class="py-2">
                                    <div class="card ">
                                        <div class="card-body">
                                            <h5 class="card-title">Response</h5>
                                            <p class="card-text">
                                            <div class="alert alert-secondary response-body" role="alert">
<pre>
{{repository.response}}
</pre>
                                            </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="py-2">
                                    <div class="card ">
                                        <div class="card-body">
                                            <h5 class="card-title">Clone using access_token</h5>
                                            <p class="card-text">
                                            <div class="alert alert-info" role="alert">
<pre>
$ git clone https://x-token-auth:{{access_token.access_token}}@bitbucket.org/{username}/{respoSlug}.git
</pre>
                                            </div>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
        </div>
    </div>

    <footer>
        Anne Calantog  Developer Advocate at Atlassian (2018)
    </footer>
</div>


<!-- modals for education purposes-->

<div class="modal fade bd-example-modal-lg" id="flow-modal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Grant Flow</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <img src="/images/authorization_flow.png" class="auth-flow-img"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="consumer-flow-modal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consumerFlowModalLabel">How to create consumers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/Consumers_1.png" alt="Bitbucket Settings"/>
                            <div class="carousel-caption">
                                <p>
                                    This is the first step to consumer creation.
                                    Click on Bitbucket Settings from your profile.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Consumers_2.png" alt="Click 'OAuth'"/>
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                    Click 'OAuth' to add a new consumer
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Consumers_3.png" alt="Click 'Add Consumer'"/>
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                    Click 'Add Consumer'
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Consumers_4.png" alt="Consumer configuration"/>
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                    Enter you consumer name and description. Please make sure to set the
                                    callback url to {app_host_url}/oauth-callback because this is the endpoint
                                    set in the sample app
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Consumers_5.png" alt="Consumers generated"/>
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                    Copy-paste the consumer key and secret in the sample app to test it out!
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
